@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
}
.menue{
    
    display:flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 0rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    
}
.menu-text{
    margin: 1rem;
    color:  #777C85;
    /* font-family: 'Raleway' */
    font-family: 'Kanit', sans-serif;
}
#team{
    color: #4E5DC0;
    text-decoration:wavy;
    padding: 2px;
    border-bottom: 1px solid #4E5DC0 ;
    border-right-width: 1px ;
    
    
}
hr{
    width: 40px;
    border: 1px #4E5DC0;
}
.logo_img{
    margin-right: 11rem;
    margin-left: 6rem;
width: 98px;
height: 82px;
left: 11px;
top: 53px;
}
.btn{
    margin-left: 11rem;
    margin-right: 6rem;
    background-color:  #4E5DC0;
    color: white;
    padding: 15px;
    width: 11%;
    border-radius: 5px;
    border: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 5rem 4rem 5rem;

}